@use "../../../scss/" as *;

.welcome {
	&__content {
		@include flex(center, center);
	}

	&__info {
		width: 50%;
		height: 100%;

		@media screen and (max-width: 600px) {
			width: 100%;
			padding: 0rem 1rem;
		}
	}

	&__img {
		width: 50%;
		height: 80vh;
	}

	&__info {
		@include flex(flex-start, flex-end);

		@media screen and (max-width: 600px) {
			width: 100%;
		}

		&__content {
			padding-left: 2rem;

			@media screen and (max-width: 600px) {
				padding-left: 0rem;
			}

			.description {
				font-size: 1rem;

				@media screen and (max-width: 600px) {
					width: 100%;
				}
			}

			.btns {
				@media screen and (max-width: 600px) {
					width: 100%;
					margin: 1rem !important;
				}
			}

			.btns > * ~ * {
				margin-left: 1rem;

				@media screen and (max-width: 600px) {
					margin: 1rem !important;
				}
			}

			@media screen and (max-width: 600px) {
				width: 100%;
			}
		}
	}

	&__img {
		@include flex(flex-end, flex-start);

		&__slide {
			height: 600px;
			width: 600px;
			overflow: hidden;

			canvas {
				width: 50% !important;
				padding-bottom: 2rem !important ;
				display: block;
			}
		}

		@media screen and (max-width: 600px) {
			display: none;
		}
	}
}
